 <div class="container">


        <!--   <div align="center">
              <button class="btn btn-default filter-button active" data-filter="all">All</button>
              <button class="btn btn-default filter-button" data-filter="hdpe">HDPE Pipes</button>
              <button class="btn btn-default filter-button" data-filter="sprinkle">Sprinkle Pipes</button>
              <button class="btn btn-default filter-button" data-filter="spray">Spray Nozzle</button>
              <button class="btn btn-default filter-button" data-filter="irrigation">Irrigation Pipes</button>
          </div> -->
          <!-- <br/> -->

{{#each users}}
             {{#each this.projects}}
              <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">

                  <img src="{{this.imgUrl}}" class="img-responsive">

                  <h4>{{this.projectName}}</h4>
                  {{../this.email}} <br>
                  <a href="{{this.url}}">Your Project URL</a>
                  <div> <!-- <a href="/projects/edit">Edit Project</a> -->
                  <a href="/users/{{../user.id}}/projects/{{this.id}}/edit">Edit Ranked Project</a>
                  <form action="/users/{{../user.id}}/projects/{{this.id}}?_method=DELETE" method="POST">
                    <input type="submit" value="Delete Project Idea"/>
                  </form>

              </div>


          </div>
          {{/each}}
          {{/each}}

      </div>
  </section>
