<h1>Edit Project Idea</h1>
<form action="/users/{{user.id}}/projects/{{project.id}}?_method=PATCH" method="POST">
  <div>
    <label for="Name">
      Name
    </label>
    <input type="text" name="projectName" value="{{project.projectName}}" placeholder="{{project.projectName}}"/>
  </div>
  <div>
    <label for="URL">
      URL
    </label>
    <input type="text" name="url" value="{{project.url}}" placeholder="{{project.url}}"/>
  </div>
  <div>
    <label for="Image URL">
      Image URL
    </label>
    <input type="text" name="imgUrl" value="{{project.imgUrl}}" placeholder="Image URL"/>
  </div>
  <div>
    <input type="submit" value="Update Project Idea"/>
  </div>
</form>

