{{#if currentUser}}
  <h4>welcome {{currentUser.email}}</h4>
{{/if}}

{{#each users}}
  <ul>
    <li>{{id}}</li>
    <li>{{email}}</li>
    <li>{{password_digest}}</li>
  </ul>
{{/each}}

{{#if currentUser}}
  <h1>{{currentUser._id}}</h1>
  <a href="/users/{{currentUser._id}}/projects">View all Projects</a>
{{/if}}
